<div class="main-carousel">
  <div class="hide-left">
    <img src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg" alt="">
  </div>
  <div class="previous-second">
    <img src="https://ichef.bbci.co.uk/images/ic/1008xn/p04tt710.jpg" alt="">
  </div>
  <div class="previous">
    <img src="https://www.revolvermag.com/sites/default/files/styles/original_image__844px_x_473px_/public/media/section-media/screen_shot_2017-08-14_at_12.18.16_pm.png?itok=SmNPE1gU&timestamp=1508359501" alt="">
  </div>
  <div class="selected">
    <img src="https://img.discogs.com/4mctxGccUGlmmz9epE4LvrLvwzk=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1027751-1354301300-3561.jpeg.jpg" alt="">
  </div>
  <div class="next">
    <img src="https://shortlist.imgix.net/app/uploads/2015/01/24184408/the-50-greatest-rock-albums-ever-41.jpg?w=1200&h=1&fit=max&auto=format%2Ccompress" alt="">
  </div>
  <div class="next-second">
    <img src="http://d2f8dzk2mhcqts.cloudfront.net/0612_Typographic_Covers/Kiss_first_album_cover.jpg" alt="">
  </div>
  <div class="hide-right">
    <img src="https://img.discogs.com/a-UtgL30k58TG-SVHTLH3_wV6N4=/fit-in/597x609/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-993028-1260055306.jpeg.jpg" alt="">
  </div>
</div>