/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}